<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instabook</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black text-white font-sans">
    <div class="flex h-screen">
        <nav class="w-1/8 min-w-[240px] flex flex-col p-5 bg-gray-900">
            <h1 class="text-white text-3xl font-bold mb-8">Instabook</h1>
            <ul class="space-y-6">
                <li class="flex items-center space-x-4 p-3 bg-sky-400">
                    <span class="text-xl">🏠</span>
                    <a href="/" class="text-lg text-white">Home</a>
                </li>
                <li class="flex items-center space-x-4 p-2">
                    <span class="text-xl">🔍</span>
                    <a href="/search" class="text-lg">Search</a>
                </li>
                <li class="flex items-center space-x-4 p-2">
                    <span class="text-xl">🎥</span>
                    <a href="/reels" class="text-lg">Reels</a>
                </li>
                <li class="flex items-center space-x-4 p-2">
                    <span class="text-xl">✉️</span>
                    <a href="/messages" class="text-lg">Messages</a>
                </li>
                <li class="flex items-center space-x-4 p-2">
                    <img src="{{ url_for('static', filename='images/default.svg') }}" class="size-5" alt="Profile" />
                    <a href="/profile/{{ session['username'] }}/edit" class="text-lg">Profile</a>
                </li>
                <li class="flex items-center space-x-4">
                    <form action="/logout" method="post">
                        <input type="submit" value="Log Out" name="logOut"
                            class="text-lg text-white bg-transparent border-none cursor-pointer hover:bg-sky-300 hover:border-sky-500 rounded-xl px-4 py-2" />
                    </form>
                </li>
            </ul>
        </nav>

        <div class="flex-1">
            <div class="flex-1 p-6 h-10">
                <p>Welcome, {{ name }}!</p>
                <img class="w-6 h-6 rounded-full mx-auto" src="{{ myPhoto }}">
            </div>

            <div class="flex-1 p-6">
                <div class="flex justify-between items-center">
                    <h2 class="text-xl font-bold">Find friends and accounts you like</h2>
                </div>

                <ul class="mt-8 space-y-6">
                    {% for user in userInfoList %}
                    <li class="flex items-center justify-between">
                        <a href="/profile/{{ user[0] }}">
                            <div class="flex items-center space-x-4">
                                <img src="{{user[2]}}" class="w-12 h-12 rounded-full" alt="Profile">
                                <div>
                                    <p class="font-bold">{{user[0]}}</p>
                                    <p class="text-gray-400 text-sm">{{user[1]}}</p>
                                </div>
                            </div>
                            <div class="flex items-center">
                                <button class="w-6 h-6 bg-white rounded-full flex justify-center items-center">✔</button>
                            </div>
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</body>

</html>
